@import "tailwindcss";

/* =========================
   Base global (mínima)
   ========================= */

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/* Evita scroll horizontal accidental */
body {
  overflow-x: hidden;
}

/* =========================
   Elementos base
   ========================= */

a {
  text-decoration: none;
}

/* =========================
   Utilidades opcionales
   ========================= */

/* Centrado rápido */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

html { 
  scroll-behavior: smooth; 
}

section { 
  scroll-margin-top: 75px; 
}

:root {
  --primary: #7c3aed;
  --primary-hover: #6d28d9;
  --primary-soft: rgba(124, 58, 237, 0.15);
  --primary-glow: rgba(124, 58, 237, 0.35);

  --accent: #ec4899;          /* pink-500 */
  --accent-soft: rgba(236, 72, 153, 0.18);
}

[data-theme="green"] {
  --primary: #16a34a;
  --primary-hover: #15803d;
  --primary-soft: rgba(22, 163, 74, 0.15);
  --primary-glow: rgba(22, 163, 74, 0.35);

  --accent: #18dbce;
  --accent-soft: rgba(236, 72, 153, 0.18);
}

[data-theme="blue"] {
  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --primary-soft: rgba(59, 130, 246, 0.15);
  --primary-glow: rgba(59, 130, 246, 0.35);

  --accent: #38bdf8;
  --accent-soft: rgba(56, 189, 248, 0.18);
}