@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

/* =========================
   Base global (mínima)
   ========================= */

:root {
  font-family: "Space Grotesk", system-ui, sans-serif;

  --font-code: "JetBrains Mono", monospace;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Space Grotesk", system-ui, sans-serif;
}

/* Evita scroll horizontal accidental */
body {
  overflow-x: hidden;
}

/* =========================
   Elementos base
   ========================= */

a {
  text-decoration: none;
}

/* =========================
   Utilidades opcionales
   ========================= */

/* Centrado rápido */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 75px;
}

:root {
  --primary: #7c3aed;
  --primary-hover: #6d28d9;
  --primary-soft: rgba(124, 58, 237, 0.15);
  --primary-glow: rgba(124, 58, 237, 0.35);

  --accent: #ec4899;
  --accent-soft: rgba(236, 72, 153, 0.18);

  --bg: #111827;
}

[data-theme="green"] {
  --primary: #16a34a;
  --primary-hover: #15803d;
  --primary-soft: rgba(22, 163, 74, 0.15);
  --primary-glow: rgba(22, 163, 74, 0.35);

  --accent: #18dbce;
  --accent-soft: rgba(236, 72, 153, 0.18);

  --bg: #0b1a12;
}

[data-theme="blue"] {
  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --primary-soft: rgba(59, 130, 246, 0.15);
  --primary-glow: rgba(59, 130, 246, 0.35);

  --accent: #38bdf8;
  --accent-soft: rgba(56, 189, 248, 0.18);

  --bg: #0b1324;
}

/* Ocultar scrollbar pero permitir scroll */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE y Edge */
  scrollbar-width: none;
  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

/* Ocultar scrollbar globalmente (sin bloquear el scroll) */
html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge viejo */
}

html::-webkit-scrollbar {
  display: none;
  /* Chrome/Safari/Opera */
}